{
  "jobs": [
//   {
//     "functionLocation": "/brevo.web.js",
//     "functionName": "sendDailyQuoteJob",
//     "description": "Sends the daily inspirational quote email to all subscribers at 8:00 AM IST (2:30 AM UTC)",
//     "executionConfig": {
//       "cronExpression": "30 2 * * *"
//     }
//   },
  {
    "functionLocation": "/testbrevo.web.js",
    "functionName": "testSendEmail",
    "description": "Test email sending to specified addresses daily at 8:00 AM IST",
    "executionConfig": {
      "cronExpression": "30 2 * * *"
    }
  }
  ]
}